<a href="https://colab.research.google.com/github/aila-vertudez/CPEN-21A-ECE-2-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [1]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [2]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [3]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through String

In [5]:
for x in "Python Programming":
  print(x)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

The Range Function

In [7]:
for x in range (16):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [8]:
for x in range (2,16):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

Nested Loops

In [16]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [19]:
i=1
while i<=6:
  print(i)
  i+=1 #Assignment operator for addition

1
2
3
4
5
6

The Break Statement

In [21]:
i=1
while 1<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The Continue Statement

In [22]:
i=0
while i<6:
  i+=1 #Assignment operator for addition
  if i==3:
    continue
  print(i)

1
2
4
5
6

The Else Statement

In [24]:
i=1
while i<=6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
i is no longer less than 6

Application 1

In [31]:
hello=["Hello"]
num=["0","1","2","3","4","5","6","7","8","9","10"]

for x in hello:
  for y in num:
    print(x,y)

i=0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [39]:
#Create a Python program that displays integers less than 10 but not less than 3
for x in range (4,10):
  print(x)

4
5
6
7
8
9

In [43]:
#Create a Python program that displays integers less than 10 but not less than 3 (using while statement)
i=4
while i<10:
  print(i)
  i+=1

4
5
6
7
8
9